@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

:root {
  --card-border-color: white;
  --card-text-background-color: white;
}

body {
  display: flex;
  gap: 25px;
  font-family: 'Roboto Slab';
  background-image: url(img/BackGround/table.jpg);
  background-size: 100%, auto;
}

.playingCard {
  position: relative;
  z-index: 4;
  margin-inline: auto;
  padding: 5px;
  height: 280px;
  width: 200px;
  border: solid 1px;
  gap: 5px;
  background: var(--card-border-color);
}

#cardContainer{
  position:relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#imageHero {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  height: 138px;
  border: solid 1px;
}

#lifeCountersHero {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -17%;
  width: 98%;
  height: 10%;
  justify-content: space-around;
}

#lifeCountersHero div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 50px;
  height: 26px;
  width: 26px;
}

#lifeCountersHero .inner-circle {
  position: relative;
  border: solid 1px;
  border-radius: 50px;
  height: 22px;
  width: 22px;
  background: white;
}

#nameHero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  margin-top: 6%;
  margin-bottom: 2%;
  transform: translateX(-50%);
  width: 80%;
  height: 10%;
  border: solid 1px;
  font-size: 14px;
  background: var(--card-text-background-color);
}

#abilityContainerHero {
  position: relative;
  display: grid;
  grid-row-gap: 5px;
  height: 97px;
}

#abilityContainerHero div {
  position: relative;
  display: flex;
  border: solid 1px;
  font-size: 9px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--card-text-background-color);
  padding: 0.3em;
}

.ability {
  cursor: pointer;
}

.ability:hover {
  background: lightgrey!important;
}

#buttonContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  right: 0;
  padding: 0 2em 1em 1em;
  background: transparent;
  z-index: 20;
}

#buttonContainer button{
  width: 150px;
  height: 50px;
}

#buttonContainer #resetButton {
 margin-top: 60px;
 background-color: #4CAF50;
 border: 1px solid green;
 border-radius: 2px;
}

#buttonContainer .isAttacking {
 background-color: #EE4B2B;
 border: 1px solid red;
 border-radius: 2px;
}

/* Data & Logs */
#data-logs {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 1em;
  justify-items: center;
  justify-content: center;
  height: 292px;
  padding-inline: 1em;
}

#resourcesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#resourcesContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

#venom-container {
  position: absolute;
  border: none!important;
  margin-top: 3px;
  left: 100%;
  display: flex;
  gap: 0.5em;
}

#venom-container div {
  border: none!important;
}

#venom-container div .fa-spider{
  position: absolute;
  color: rgba(0, 0, 0, 0.40);
  font-size: 1.5em;
  margin-top: 10px;
}

#venom-container div .fa-droplet{
  position: absolute;
  color: #df1ac7;
  font-size: 2.5em;
}
#venom-container div .solidBg{
  position: absolute;
  color: #810671;
  font-size: 3em;
}

#venom-container div .solidBorder{
  position: absolute;
  color: black;
  font-size: 3.2em;
}

.payCost {
  background-color: black!important;
  margin-right: 0.5em;
  color: white;
}

#payTitle {
  margin-bottom: 1em;
}

.spend {
  cursor: pointer;
}

#help {
  border-radius: 100vh;
  font-size: 2em;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  width: 40px!important;
  height: 40px!important;
  margin-left: 0.5em;
  cursor: pointer;
}

#help:hover {
  background-color: rgb(156, 153, 153);
}

#totalResources{
  background-color: var(--card-text-background-color);
}

#orangeResource {
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: orange;
}

#redResource {
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: red;
}

#blueResource {
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: blue;
}

#totalResources {
  font-size: 24px;
  font-weight: bold;
}

/* Combat History */

#combatHistory {
  /* display: flex;
  flex-direction: column-reverse; */
  border: solid 1px;
  border-radius: 4px;
  width: 300px;
  padding: 0.5rem;
  font-size: 13px;
  line-height: 1.8;
  text-align: center;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  background-color: var(--card-text-background-color);
}

#combatHistory div:last-child {
  scroll-snap-align: start;
}

#combatHistory div:nth-child(even){
  background-color: #d3d3d380;
  margin-bottom: 3px;
}

#combatHistory div:nth-child(odd){
  /* background-color: #d3d3d380; */
  margin-bottom: 3px;
}

#combatHistory .blue {
  color: blue;
  font-weight: bold;
}

#combatHistory .red {
  color: red;
  font-weight: bold;
}

#combatHistory .orange {
  color: orange;
  font-weight: bold;
}

#alertMsg[aria-expanded="false"]{
  display: none;
}

#alertMsg[aria-expanded="true"]{
  position: absolute;
  display: flex;
  min-width: 200px;
  min-height: 100px;
  transition: width 0.5s;
  z-index: 4;
  border: solid 1px black;
  border-radius: 8px;
  padding: 1em;
  text-align: center;
  background: var(--card-text-background-color);
  top: 120px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  outline: 4px solid rgba(255, 255, 0, 0.50);
}

/* Beast */

#cardFrameBeast{
  transition: width 0.2s ease-in, height 0.2s ease-in, padding 0.2s ease-in;
  background-image:  linear-gradient(0deg, rgba(0,255,0,0.4), rgba(0, 255, 0, 0.2)), url(img/BackGround/papyrus.jpg);
}

#imageBeastContainer {
  display: flex;
  position: relative;
  height: 48%;
  border: solid 1px;
}

#imageBeast{
  width: 100%;
}

#lifeCountersBeast {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  align-content: space-around;
  padding: 5px;
  transition: padding 0.2s ease-in;
}

#lifeCountersBeast div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-radius: 100vh;
  height: 26px;
  width: 26px;
  transition: width 0.2s ease-in, height 0.2s ease-in;
}

#lifeCountersBeast .inner-circle {
  position: relative;
  border: solid 1px;
  border-radius: 100vh;
  height: 22px;
  width: 22px;
  background: white;
  transition: width 0.2s ease-in, height 0.2s ease-in;
}

#nameContainerBeast {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 50%;
  margin-top: 3%;
  margin-bottom: 2%;
  transform: translateX(-50%);
  width: 80%;
  height: 10%;
  border: solid 1px;
  background: var(--card-text-background-color);
}

#defense {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -73%;
  outline: solid 1px black;
  background: red;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  transition: width 0.2s ease-in, height 0.2s ease-in, font-size 0.2s ease-in;
}

#nameBeast {
  position: relative;
  display: flex;
  height: 100%;
  width: 89%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  transition: font-size 0.2s ease-in;
}

#abilityContainerBeast {
  position: relative;
  display: grid;
  grid-row-gap: 4px;
  height: 37%;
}

#abilityContainerBeast div {
  position: relative;
  display: flex;
  border: solid 1px;
  font-size: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  background: var(--card-text-background-color);
  transition: font-size 0.2s ease-in;
}

.passive {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* Testing This */
#zones {
  display: grid;
  gap: 1em;
}

#hero-zone{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

#beast-zone{
  --variable-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  grid-row: 1;
}

/* Hand Card */
#hand-zone{
  position: fixed;
  bottom: 1em;
  left: 50%;
}

#handCardFrame{
  background-image:  linear-gradient(0deg, rgba(0,0,255,0.4), rgba(0,0,255,0.2)), url(img/BackGround/papyrus.jpg);
}

#handCardFrame[data-type='item'],
.item-equipped.show{
  background-image:  linear-gradient(0deg, rgba(255,255,255,0.6), rgba(255,255,255,0.4)), url(img/BackGround/papyrus.jpg);
}

#handCardFrame[data-type='item'] #cost{
  background-color: grey;
}

.handPlayingCard,
.item-equipped {
  position: absolute;
  bottom: 5px;
  left: 200px;
  margin-inline: auto;
  padding: 5px;
  height: 280px;
  width: 200px;
  border: solid 1px;
  gap: 5px;
}

#hand-card-container,
#item-equipped-cotainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.imageHand,
.item-equipped-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  height: 138px;
  border: solid 1px;
  background: var(--card-text-background-color);
}

#nameContainerHand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  left: 50%;
  margin-top: 3%;
  margin-bottom: 2%;
  transform: translateX(-50%);
  width: 80%;
  height: 10%;
  border: solid 1px;
  background-color: var(--card-text-background-color);
}

#cost {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -73%;
  outline: solid 1px black;
  background: blue;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#nameHand {
  position: relative;
  display: flex;
  height: 100%;
  width: 89%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

#handContainerPassive {
  display: grid;
  height: 96px;
}

#handContainerPassive div {
  position: relative;
  display: flex;
  border: solid 1px;
  padding: 0.5em;
  font-size: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--card-text-background-color);
}

.isLeft {
  left: 50px;
  background: white;
  transform: rotate(-5deg);
  box-shadow: 2px 2px 4px 0px rgba(58, 55, 56, 0.25);
}

.isMiddle{
  z-index: 2;
  background: white;
  bottom: 15px;
  box-shadow: 2px 2px 4px 0px rgba(58, 55, 56, 0.25);
}

.isRight {
  left: 350px;
  background: white;
  transform: rotate(5deg);
  box-shadow: -2px 2px 4px 0px rgba(58, 55, 56, 0.25);
}

.isLeft:hover, 
.isMiddle:hover, 
.isRight:hover {
  z-index: 3;
}

/* Zoom-In - Beast*/

#cardFrameBeast.zoom {
  padding: 10px;
  height: 560px;
  width: 400px;
  gap: 10px;
}

#cardFrameBeast.zoom #lifeCountersBeast {
  padding: 10px;
}

#cardFrameBeast.zoom #lifeCountersBeast div {
  height: 52px;
  width: 52px;
}

#cardFrameBeast.zoom #lifeCountersBeast .inner-circle {
  height: 44px;
  width: 44px;
}

#cardFrameBeast.zoom #defense {
  width: 60px;
  height: 60px;
  font-size: 48px;
}

#cardFrameBeast.zoom #nameBeast {
  font-size: 24px;
}

#cardFrameBeast.zoom #abilityContainerBeast {
  position: relative;
  display: grid;
  grid-row-gap: 4px;
  height: 37%;
}

#cardFrameBeast.zoom #abilityContainerBeast div {
  font-size: 16px;
}

#cardFrameBeast.zoom .passive {
  cursor: -webkit-zoom-in;
  cursor: zoom-out;
}

.dead-beast{
  opacity: 0.5;
}

.dead-beast::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #898989;
  opacity: 0.8;
}

/* Item Equipped */

/* Tengo que sacar border top y padding top, para que parezca que la carta esta atras de la otra */
.full-hero {
  position: relative;
}

.item-equipped {
  display: none;
  position: absolute;
  left: 13px;
  top: 6px;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: grey;
}

.item-equipped.show{
  display: block;
}

.item-equipped .handPassive {
  height: 80px;
}

.item-equipped:not(.first){
  animation: put-on-bottom 0.45s;
  z-index: 1;
}

.item-equipped.first {
  animation: put-on-top 0.45s;
  z-index: 4;
}

#item-btn{
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  bottom: -25px;
  bottom: -26px;
  padding: 0.2em 0.5em;
}

/* Ver esto */
#imageHero.glow {
  outline: 4px solid rgb(236 13 13 / 30%)
}

#cardFrameHero {
  background-image:  linear-gradient(0deg, rgba(255, 0, 0, 0.4), rgba(255, 0, 0, 0.2)), url(img/BackGround/papyrus.jpg);
}

#cardFrameHero #cardContainer {
  overflow: initial
}

.parent-popup {
  position: absolute;
  inset: 0;
  background-color: #808080cc;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inside-popup{
  background-color: white;
  border-radius: 8px;
  padding: 1em;
}

.tutorial{
  display: grid;
  gap: 0.4em;
}

.hidden {
  display: none!important;
}

@keyframes put-on-top {
  0% {
    left: 13px;
    top: 6px;
    z-index: 1;
  }
  50% {
    left: 130px;
    transform: rotate(5deg);
    z-index: 4;
  }
  100% {
    z-index: 4;
    left: 13px;
    top: 6px;
    transform: rotate(0);
  }
}

@keyframes put-on-bottom {
  0% {
    left: 13px;
    top: 6px;
    z-index: 4;
  }
  50% {
    left: 130px;
    transform: rotate(5deg);
  }
  100% {
    z-index: 1;
    left: 13px;
    top: 6px;
    transform: rotate(0);
  }
}